/*  Basics */
@use "basics/base.scss";
@use "basics/helpers.scss";
@use "basics/layout.scss";
@use "basics/animations.scss";

/* Pages */
@use "./pages/homepage.scss";
@use "./pages/stay-index.scss";
@use "./pages/stay-details.scss";
@use "./pages/stay-edit.scss";
@use "./pages/back-office.scss";
@use "./pages/BookingConfirmationPage.scss";

/* Components */
@use "./cmps/upper-filter.scss";
@use "./cmps/mobile-filter.scss";
@use "./cmps/avatar.scss";
@use "./cmps/stay-list.scss";
@use "./cmps/stay-preview.scss";
@use "./cmps/stay-filter.scss";

@use "./cmps/app-header.scss";
@use "./cmps/login-signup.scss";
@use "./cmps/app-footer.scss";
@use "./cmps/middle-filter.scss";
@use "./cmps/small-filter.scss";
@use "./cmps/modal.scss";
@use "./cmps/search-location.scss";
@use "./cmps/calendar.scss";
@use "./cmps/date-toggle-group.scss";
@use "./cmps/date-flexibility-toggle.scss";
@use "./cmps/guest-picker.scss";
@use "./cmps/main-menu.scss";
@use "./cmps/side-menu.scss";
@use "./cmps/booking-confirmation-modal.scss";
@use "./cmps/user-menu.scss";
@use "./cmps/profile-button.scss";
@use "./cmps/GuestRow.scss";
@use "./cmps/label-scroller-bar.scss";
@use "./cmps/order-card.scss";
@use "./cmps/footer.scss";
@use "./cmps/my-stays.scss";
@use "./cmps/info-item.scss";
@use "./cmps/stay-wizard.scss";
@use "./cmps/step-place-type.scss";
@use "./cmps/step-intro.scss";
@use "./cmps/add-stay-footer.scss";
@use "./cmps/step-guest-type.scss";
@use "./cmps/option-box.scss";
@use "./cmps/step-place-location.scss";
@use "./cmps/day-picker.scss";  

/* Fonts */
@font-face {
  font-family: "AirbnbCereal";
  src: url("/src/assets/fonts/AirbnbCereal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
