.labels-carousel {
  .carousel-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .labels-scroller-wrapper {
    &.no-arrows {
      .carousel-item-container {
        padding: 0; 
      }
  
      .carousel-wrapper {
        padding: 0; 
      }
    }
  }

  .carousel-item-container {
    display: grid;
    justify-content: center;
    padding:0 8px; 
    box-sizing: border-box;
    //gap: 20px;
    // flex: 0 0 auto;
    // width: auto;
    // min-width: 96px;
    // max-width: 112px;
    // padding: 0 8px;
    // box-sizing: border-box;
  }


  .react-multiple-carousel__arrow {
    background: transparent;
    border:1px solid #ccc;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    z-index: 10;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.2s ease;
  
  
    &::before {
      color: black;         
      font-size: 16px;
    }
    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); // ✅ soft shadow on hover
      border-color: #ccc;
      background-color: #fff; // optional: keeps it white
    }
  }

  .react-multiple-carousel__arrow--left {
    left: 0;
  }

  .react-multiple-carousel__arrow--right {
      right: 0;
  }

  .carousel-wrapper {
    position: relative;
    padding: 0 24px; 
  }

  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
    color: #717171; // default gray
    transition: color 0.2s ease;
    min-width:96px;
    width: max-content;
    

    img {
      width: 30px;
      height: auto;
      margin-bottom: 6px;
      filter: brightness(0) saturate(100%) invert(44%) sepia(0%) saturate(600%) hue-rotate(180deg) brightness(90%) contrast(85%);
      transition: filter 0.2s ease;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      font-family: 'Urbanist', sans-serif;
      color: #717171;
      margin: 0;
      position: relative;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: transparent;
        margin-top: 15px;
        transition: background-color 0.2s ease;
      }
    }

    &:hover {
      p {
        color: #000;
        font-weight: 600;

        &::after {
          background-color: #DDDDDD; // light gray underline on hover
        }
      }

      img {
        filter: none;
      }
    }

    &.active {
      p {
        color: #000;
        font-weight: 600;

        &::after {
          background-color: #DDDDDD;
        }
      }

      img {
        filter: none;
      }
    }
  }
}

