.middle-filter {
  display: flex;
  justify-content: center;
  background: white;
  &.sticky {
    position: sticky;
    top: 56px;
    z-index: 10;
  }
}

.middle-filter.hidden {
  display: none !important;
}

.middle-filter.visible {
  display: flex;
  z-index: 9999 !important;
  position: fixed;
  top: 50px; 
  left: 0;
  right: 0;
}

.search-box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr auto;
  align-items: stretch;
  gap: 10px;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 999px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-box-arg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  border-right: 1px solid #ddd;
  height: 100%;
  line-height: 1.2;
}

.search-box-arg:last-of-type {
  border-right: none;
}

.search-box-arg strong {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.search-box-arg span {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  margin-top: 2px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff385c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
