.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .profile-toggle {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 24px;
    background-color: white;
    cursor: pointer;
  }

  .three-parallel {
    width: 16px;
    height: 16px;
  }

  .avatar {
    width: 28px;
    height: 28px;
  }
}

.user-menu-wrapper {
  z-index: 9999;
  width: 250px;
  border-radius: 12px;
  padding: 12px;
}


