.step-place-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem, 6rem;
  padding-bottom: 120px;
  .title {
    align-self: flex-start;
    padding-left: 22px;
    font-weight: 600;
    font-size: 1.9rem;
  }

  .place-type-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    cursor: pointer;
    text-align: left;

    &.selected {
      border-color: black;
      background-color: #f7f7f7;
    }
  }
}

.option-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 22px;
  gap: 22px;
}
