.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  
    button {
      all: unset;
      display: inline;
      cursor: pointer;
      padding: 0;
      background: none;
      border: none;
      font-size: 16px;
      color: #333;
  
      &:hover {
        background-color: #f6f3f3;
        border-radius: 22px;
        padding: 10px 20px;
      }
  
      &.selected {
        font-weight: bold;
  
        &:hover {
          background-color: transparent;
          padding: 0;
        }
      }
    }
  
    .logo {
      width: 100px;
      height: auto;
      img {
        width: 100%;  // Makes the image take the full width of the parent (.logo)
        height: 100%; // Ensures it scales with the parent
        object-fit: contain; // Keeps aspect ratio inside the box
      }
    }
  
    .categories {
      display: flex;
      justify-content: center;
      gap: 50px;
      flex-grow: 1;
  
      .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
      }
    }
  
    .profile {
      font-size: 16px;
      color: #333;
      cursor: pointer;
  
      &:hover {
        color: #FF5A5F;
      }
    }
  }
  